{
  "dev": {
    "driver": "mysql",
    "user": "root",
    "password": "root",
    "port": 3306,
    "multipleStatements": true,
    "database": "Calendula"
  },
  "test": {
    "driver": "mysql",
    "user": "root",
    "password": "root",
    "port": 3306,
    "multipleStatements": true,
    "database": "Calendula_Test"
  },
  "prod": {
    "driver": "mysql",
    "user": "root",
    "password": "root",
    "port": 3306,
    "multipleStatements": true,
    "database": "Calendula"
  }
}